[submodule "themes/loficode"]
	path = themes/loficode
	url = https://github.com/madebydia/loficode-hugo-theme.git
[submodule "themes/re-terminal"]
	path = themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "themes/themes/terminal"]
	path = themes/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
